<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto impedit non enim maiores qui incidunt et iste inventore consequuntur, reprehenderit, cumque architecto blanditiis sint eveniet modi veritatis fugit repellendus nostrum?</p>
    </div>
</section>