<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                Account Login
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" >
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" >
                    </div>
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">
                            Sign in
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>